html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #ebebeb;
  box-sizing: border-box;
}

h1 {
  margin: 10px auto;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 2px red, 0 0 25px cyan, 0 0 5px darkblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

img {
  height: 328px;
  width: 200px;
  border-radius: 10px;
}

.imgWrap {
  border-radius: 10px;
  box-shadow: 0 0 10px cyan;
  margin: 12px auto;
}

.btn {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;
  margin: 15px auto;
  display: flex;
}

button {
  color: white;
  margin: 16px auto;
  text-shadow: 3px 3px 2px red, 0 0 25px cyan, 0 0 5px darkblue;
  font-size: 1.8rem;
  font-weight: bolder;
  border: 3px solid #ebebeb;
}

button:hover {
  background-color: #f4ffff; 
  border-radius: 20px;
}